.mainContent {
  display: flex;
  margin: 15px;
}
body {
  background-color: #000;
  color: #ffffff;
}

.form {
  min-width: 50vw;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
