.mainContent {
  display: flex;
  margin: 15px;
}
body {
  background-color: #000;
  color: #ffffff;
}

.form {
  min-width: 50vw;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.preview {
  position: fixed;
  left: 50%;
  background-color: white;
  width: 650px;
  height: 930px;
  border-style: none;
  border-radius: 10px;
}
